<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fart Club - About</title>
</head>
<body>
    {% include 'nav.html' %}

    <h1>About Us</h1>

    <h2>
        Mission Statement
    </h2>
    <p>
        At Fart Club, we are committed to embracing the lighter side of life,
        fostering a community where humor and camaraderie prevail. Our mission is 
        to break down societal taboos surrounding natural bodily functions, all while 
        promoting laughter as the best medicine. Through candid discussions, 
        social gatherings, and a friendly digital environment, we seek to create a 
        space where everyone feels welcome to let it out—literally and figuratively. 
        Remember: In Fart Club, you're never alone; you're part of a movement that 
        appreciates the humor in the human condition.
    </p>

    <h2>
        History
    </h2>
    <p>
        Fart Club was founded in December 5th, 2022, under our club president, Anders Spear. 
    </p>

    <h2>
        Constitution
    </h2>
</body>
</html>