<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fart Club - Merch</title>
</head>
<body>
    {% include 'nav.html' %}

    <div>
        <h1>Merchandise</h1>
        <p>
            Loving fart club? Let's get you a shirt.
        </p>
    </div>

    <p>
        During the Fall semester we will make a new shirt design.
    </p>

    <p>
        Future orders will be done via <a href="https://syndicatescreenprint.co/shop-merch">https://syndicatescreenprint.co/shop-merch:</a>
        a small Baltimore-based company that other UMD clubs have had good experiences with
    </p>
</body>
</html>