<link
    rel="stylesheet"
    href="{{ url_for('static', filename='navbar.css') }}"
/>

<link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles.css') }}"
/>

<div class="navbar">
    <div class="navbar__pages">
        <a href="/">
            Home
        </a>
        <a href="/merch">
            Merch
        </a>
        <a href="/leaderboard">
            Leaderboard
        </a>
        <a href="/about">
            About
        </a>
        <a href="/events">
            Events
        </a>
    </div>

    <div class="navbar__contacts">
        <a href="">
            Discord
        </a>
    </div>
</div>